<div class="address-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h4 class="address">Address: <b>Manila, Philippines</b> | Phone: <b>123-456</b></h4>
            </div>
        </div>
    </div>
</div>
<header>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse navbar-menu" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MainMenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#page-top" class="navbar-brand brand-logo page-scroll"></a>
            </div>
            <div class="collapse navbar-collapse" id="MainMenu">
                <ul class="nav navbar-nav navbar-right navigation-bar">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About the Conference</a></li>
                    <li><a href="/organizer-parties">Organizer and Parties</a></li>
                    <li><a href="/speakers">Program Speakers</a></li>
                    <li><a href="/vips">VIPs</a></li>
                    <li><a href="/register">Registration</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
