<!DOCTYPE html>
<html lang="en">
{{>head}}

<body id="page-top">
    {{>nav}}
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Organizer and Partners</strong></h1>
                        <h4><strong>LMB (short write-up)</strong></h4>
                        <h4>Partners</h4>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive" id="smallboxpng" src="img/bg/Conference.png">
                        <h4>Partner 1</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
    {{>footer}} {{>scripts}}
</body>

</html>
