<!DOCTYPE html>
<html lang="en">
{{>head}}

<body id="page-top">
    {{>nav}}
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>ABOUT THE LAND SUMMIT</strong></h1>
                        <h4><strong>Land Summit is a two (2) - day activity organized by the DENR-Land Management Bureau which aims to showcase international and local best practices in land administration and management that may offer practical solutions to existing challenges in land tenure in the Philippines.</strong></h4>
                        <h4><strong>There are about 400 participants from all over the country as well as visitors and speakers from selected countries to join in the sharing of experiences and moving forward with the challenges of land tenure. These are experts, leaders, reform frontrunners and representatives from Local Government Units (LGUs), Development Assistance Agencies, Business Groups, Professional Organizations, Civil Society Organizations, Academe, DENR Regional and Field Offices, National Government Agencies (NGAs) concerned in land management and other stakeholders.</strong></h4>
                        <h4><strong>The said summit is anchored on the 10-Point Socio-economic Agenda of President Duterte’s Administration which focused on: Agenda Number 6: “Ensure security of land tenure to encourage investments, and address bottlenecks in land management and titling agencies”. </strong></h4>
                        <h4><strong>It will also support the vision of “AmBisyon Natin 2040” which represents the collective long-term vision and aspirations of the Filipino people for themselves and for the country for the next 25 years.</strong></h4>
                        <h1><strong>OBJECTIVES OF LAND SUMMIT</strong></h1>
                        <h4><strong>1. Harmonize efforts and strengthen linkages of Land Administration and Management (LAM) agencies and the private sectors participation. Identify emerging issues and best practices addressing LAM</strong></h4>
                        <h4><strong>2. Determine course of action in achieving and pursuing Agenda #6 of the 10-Point Socio-economic Agenda of the Duterte Administration.</strong></h4>
                        <h4><strong>3. Showcase the benefits of a secured land tenure.</strong></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
    {{>footer}} {{>scripts}}
</body>

</html>
