<!DOCTYPE html>
<html lang="en">
{{>head}}

<body id="page-top">
    {{>nav}}
    <div id="main-banner" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-inner" role="listbox">
                <div class="item active first-carousel">
                    <img src="img/bg/mayon.png" class="fill" alt="banner-1">
                    <div class="container">
                        <div class="carousel-caption-banner">
                            <h1 class="summit1"></h1>
                            <h1 class="summit2">Land Summit Conference 2017</h1>
                            <h1 class="summit3">Manila</h1>
                            <h1 class="summit3">(this is temporary)</h1>
                        </div>
                    </div>
                </div>
                <div class="item  first-carousel">
                    <img src="img/bg/bohol.png" class="fill" alt="banner-1">
                    <div class="container">
                        <div class="carousel-caption-banner text-slider">
                            <h1 class="summit1"></h1>
                            <h1 class="summit2">Land Summit Conference 2017</h1>
                            <h1 class="summit3">Manila</h1>
                            <h1 class="summit3">(this is temporary)</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item first-carousel">
                <img src="img/bg/rice.png" class="fill" alt="banner-1">
                <div class="container">
                    <div class="carousel-caption-banner text-slider">
                        <h1 class="summit1"></h1>
                        <h1 class="summit2">Land Summit Conference 2017</h1>
                        <h1 class="summit3">Manila</h1>
                            <h1 class="summit3">(this is temporary)</h1>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#main-banner" data-slide="prev"><span class="icon-prev"></span></a>
        <a class="right carousel-control" href="#main-banner" data-slide="next"><span class="icon-next"></span></a>
    </div>
    <div class="boxes" style="margin-bottom: 3em;">
        <div class="container">
            <div class="row">
                <div class="col-md-4" onclick="location.href='/about'">
                    <div class="smallbox">
                        <img class="img-responsive" id="smallboxpng" src="img/bg/Conference.png">
                        <h4 style="color:rgb(0, 66, 0); text-align: center; font-size: 20px;">About the Conference</h4>
                        <p style="color: rgb(200, 200, 200); text-align: center">Land Suummit Conference...</p>
                    </div>
                </div>
                <div class="col-md-4" onclick="location.href='/organizer-partners'">
                    <div class="smallbox">
                        <img class="img-responsive" id="smallboxpng" src="img/bg/Partner.png">
                        <h4 style="color:rgb(0, 66, 0); text-align: center; font-size: 20px;">Organizer and Partners</h4>
                        <p style="color: rgb(200, 200, 200); text-align: center">The Organizer and Partners...</p>
                    </div>
                </div>
                <div class="col-md-4" onclick="location.href='/speakers'">
                    <div class="smallbox">
                        <img class="img-responsive" id="smallboxpng" src="img/bg/Speaker.png">
                        <h4 style="color:rgb(0, 66, 0); text-align: center; font-size: 20px;">Program Speakers</h4>
                        <p style="color: rgb(200, 200, 200); text-align: center">The Program speakers are..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="/register" class="btn register">Register now!</a>
    </div>
    {{>footer}}
    {{>scripts}}
</body>

</html>
