<!DOCTYPE html>
<html lang="en">
{{>head}}

<body id="page-top">
    {{>nav}}
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>About the Land Management Bureau</strong></h1>
                        <!-- <h4><strong>LMB History</strong></h4> -->

                        <p>TThe Land Management Bureau (LMB) was established on September 2, 1901 under Act 218 as the Insular Bureau of Public Lands (IBPL) with the mandate of supervising the survey and distribution of public lands in the Philippine Islands. LMB became a staff bureau of the Department of Environment of Natural Resources (DENR) upon its creation under Executive Order No. 192 in June 1987.</p>
                        <p>For more than a century, the Bureau is in the forefront of the effort of the government to promote social equity by distributing public agricultural lands to the rural masses. Since 1901, the LMB is true to its mandate of serving the Filipino people by alleviating poverty and promoting social equality through public land distribution.</p>
                        <h1><strong>MANDATE</strong></h1>
                        <h4><strong>Executive Order 192</strong></h4>
                        <p>SECTION 14. The Lands Management Bureau shall absorb functions and powers of the Bureau of Lands except those line functions and powers which are transferred to the regional field office. The Lands Management Bureau to be headed by a Director and assisted by an Assistant Director shall advise the Secretary on matters pertaining to rational land classification management and disposition and shall have the following functions, but not limited to:</p>
                        <p>(a) Recommend policies and programs for the efficient and effective administration, surveys, management and disposition of alienable and disposable lands of the public domain and other lands outside the responsibilities of other government agencies; such as reclaimed areas and other areas not needed for or are not being utilized for the purposes for which they have been established;</p>
                        <p>(b) Advise the Regional Offices on the efficient and effective implementation of policies, programs and projects for more effective public lands management;</p>
                        <p>(c) Assist in the monitoring and evaluation of land surveys, management and disposition of lands to ensure efficiency and effectiveness thereof;</p>
                        <p>(d) Issue standards, guidelines, regulations and orders to enforce policies for the maximization of land use and development;</p>
                        <p>(e) Develop operating standards and procedures to enhance the Bureau’s objectives and functions;</p>
                        <p>(f) Assist the Secretary as Executive Officer charged with carrying out the provisions of the Public Land Act (C.A. 141, as amended), who shall have direct executive control of the survey, classification, lease, sale or any other forms of concessions or disposition and management of the lands of the public domain;</p>
                        <p>(g) Perform other functions as may be assigned by the Secretary and/or provided by law</p>
                        <h1><strong>Vision</strong></h1>
                        <p>LMB at the forefront of land administration and management and world-class doctrinal center of excellence.</p>
                        <h1><strong>Mission</strong></h1>
                        <p>1. Provide direction through the development of long and medium-term strategic plans for the land sector and monitoring and evaluation tools to ensure achievement of goals.</p>
                        <p>2. Formulate policies for the efficient and effective administration and management of alienable and disposable public lands and ensure compliance.</p>
                        <p>3. Develop land and survey standards and guidelines and ensure its compliance.</p>
                        <h1><strong>Core Values</strong></h1>
                        <h4>Professionalism</h4>
                        <h4>Reliability</h4>
                        <h4>Integrity</h4>
                        <h4>Commitment</h4>
                        <h4>Excellence in service</h4>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
    {{>footer}} {{>scripts}}
</body>

</html>
