<!DOCTYPE html>
<html lang="en">
{{>head}}

<body id="page-top">
    {{>nav}}
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Organizer and Partners</strong></h1>
                        <h4><strong>LMB History</strong></h4>

                        <p>The Land Management Bureau (LMB) was organized on September 2, 1901 under Act 218 as the Insular Bureau of Public Lands (IBPL) with the mandate of supervising the survey and distribution of public lands in the Philippine Islands. The Bureau planned out a system for the survey of the archipelago and in 1903 implemented Act 926 or the first Public Land Act of the country which became the basis of public land disposition thereafter.</p>
                        <p>Disposition under this law was done by way of homestead, free patent, sale and lease of public lands suitable for agriculture. The name Insular Bureau of Public Land was later changed by virtue of Act 1470 to the Bureau of Lands. The Bureau of Lands was likewise mandated to administer the distribution of friar lands under Act 1120 in 1930.</p>
                        <p>Cadastral surveying was introduced in order to expedite public land distribution. In 1913, Act No. 2259, otherwise known as the Cadastral Act, was implemented providing for a procedure of judicial adjudication of public lands in 1913.</p>
                        <p>Finding the potential impact of the disposition activity for the people and for the economy as a whole, the revision of Act 926 was chartered to increase patent distribution. The Second Public Land Act (Act 2874) was thus enacted on 1919 in order to hasten the disposition of public agricultural lands to the Filipinos.</p>
                        <p>In 1939, the District Land Offices (DLOs) was formally created under Executive Order No. 246 which authorized DLOs to render decisions on important matters. During the advent of the Commonwealth Government, Commonwealth Act No. 141, the Public Land Act of 1936 was enacted which up to now is still the governing law on our public lands.</p>
                        <p>In 1953, the Bureau of Lands entered the era of modernization with the introduction of IBM and Remington Rand, which produced computing machines capable of handling bulk computations. From 1950 to 1960, 1.4 million hectares of agricultural lands were distributed by the bureau which double that of the 1930-1940 period.</p>
                        <p>In 1972, Republic Act No. 6516 was enacted authorizing the DLOs in every province to sign patents not exceeding five (5) hectares thereby fully devolving the functions to the district offices. Because of the devolution, more than two (2) million hectares of agricultural land was distributed by the Bureau of Lands from 1970 to 1980.</p>
                        <p>Executive Order No. 192 organized the Department of Environment of Natural Resources (DENR) in June 1987. The new organizational set-up integrated the Bureau of Lands DLOs to the field offices of the DENR and transformed the Bureau’s Central Office to Land Management Bureau which made LMB a staff bureau. The re-organized Bureau spearheaded the distribution of public agricultural lands through the Comprehensive Agrarian Reform Program (CARP) of the government distributing 1.32 million hectares to the rural community.</p>
                        <p>For more than a century, the Bureau is in the forefront of the effort of the government to promote social equity by distributing public agricultural lands to the rural masses. Since 1901, the LMB is true to its mandate of serving the Filipino people by alleviating poverty and promoting social equality through public land distribution.</p>

                        <h4>MANDATE</h4>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
    {{>footer}} {{>scripts}}
</body>

</html>
