<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Land Management Bureau</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/form-elements.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
</head>

<body>
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Land Summit Conference 2017</strong></h1>
                        <div>
                            <img src="/img/logos/DENR_Logo.png" alt="denr" width="50" height="50">
                            <img src="/img/logos/LMB_Logo.png" alt="lmb" width="50" height="50">
                        </div>
                        <div class="description">
                            <h2>Registration form</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Register now</h3>
                                    <p>Fill in the form below</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-pencil"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="registration-form">
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <hr/>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="divider">Personal Information</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <hr/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="sr-only" for="form-title">Title</label>
                                                <select name="form-title" class="form-title form-control" id="title">
                                                    <option>Mr.</option>
                                                    <option>Ms.</option>
                                                    <option>Mrs.</option>
                                                    <option>Engr.</option>
                                                    <option>Atty.</option>
                                                    <option>Dr.</option>
                                                    <option>Prof.</option>
                                                    <option>Others:</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="sr-only" for="form-gender">Sex</label>
                                                <select name="form-gender" class="form-gender form-control" id="gender">
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="sr-only" for="form-first-name">First name</label>
                                                <input type="text" name="form-first-name" placeholder="First name" class="form-first-name form-control" id="form-first-name">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="sr-only" for="form-middle-name">Middle Name</label>
                                                <input type="text" name="form-middle-name" placeholder="Middle name" class="form-middle-name form-control" id="form-middle-name">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="sr-only" for="form-last-name">Last Name</label>
                                                <input type="text" name="form-last-name" placeholder="Last name" class="form-last-name form-control" id="form-last-name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="sr-only" for="form-nickname">Nickname</label>
                                                <input type="text" name="form-nickname" placeholder="Nickname" class="form-nickname form-control" id="form-nickname">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="sr-only" for="form-position">Position</label>
                                                <input type="text" name="form-position" placeholder="Position" class="form-position form-control" id="form-position">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="sr-only" for="form-organization">Organization</label>
                                                <input type="text" name="form-organization" placeholder="Organization" class="form-organization form-control" id="form-organization">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <hr/>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="divider">Address Information</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <hr/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label class="sr-only" for="form-country">Country</label>
                                                <select class="form-country form-control crs-country" data-region-id="form-province" id="form-country"></select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="sr-only" for="form-province">Region</label>
                                                <select class="form-control" id="form-province"></select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="sr-only" for="form-city">City</label>
                                                <select class="form-city form-control crs-city" data-region-id="form-city" id="form-city"></select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="sr-only" for="form-barangay">Barangay</label>
                                                <select class="form-control" id="form-barangay"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <label class="sr-only" for="form-street">Street Address</label>
                                                <input type="text" name="form-street" placeholder="Street Address" class="form-street form-control" id="form-street">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="sr-only" for="form-postal-code">Postal Code</label>
                                                <input type="text" name="form-postal-code" placeholder="Postal Code" class="form-postal-code form-control" id="form-postal-code">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <hr/>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="divider">Contact Information</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <hr/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label class="sr-only" for="form-mobile">Mobile Number</label>
                                                <input type="text" name="form-mobile" placeholder="Mobile Number" class="form-mobile form-control" id="form-mobile">
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="sr-only" for="form-telephone">Telephone Number</label>
                                                <input type="text" name="form-telephone" placeholder="Telephone Number" class="form-telephone form-control" id="form-telephone">
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="sr-only" for="form-email-address">Email Address</label>
                                                <input type="text" name="form-email-address" placeholder="Email Address" class="form-email-address form-control" id="form-email-address">
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="sr-only" for="form-alternate-email-address">Alternate Email Address</label>
                                                <input type="text" name="form-alternate-email-address" placeholder="Alternate Email Address" class="form-alternate-email-address form-control" id="form-alternate-email-address">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <hr/>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="divider">Other Information</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <hr/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="sr-only" for="form-topic">Topic</label>
                                                <select class="form-topic form-control" id="form-topic">
                                                    <option>Topics:</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn">Register me up!</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">
                    <div class="footer-border"></div>
                    <p>Land Management Bureau © 2017</p>
                </div>

            </div>
        </div>
    </footer>

    <!-- Javascript -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/jquery.backstretch.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/country-province-selector.js"></script>
</body>

</html>
