<!DOCTYPE html>
<html lang="en">
{{>head}}

<body id="page-top">
    {{>nav}}
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Land Summit Conference 2017</strong></h1>
                        <div>
                            <img src="/img/logos/DENR_Logo.png" alt="denr" width="50" height="50">
                            <img src="/img/logos/LMB_Logo.png" alt="lmb" width="50" height="50">
                        </div>
                        <div class="description">
                            <h2 style="font-weight:600;">Registration form</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-13">
                        <div class="form-box">
                            <div class="form-top error">
                                <div class="form-top-left">
                                    <h3 style="color:#e31919;" id="error-message"></h3>
                                </div>
                            </div>
                            <div class="form-top success">
                                <div class="form-top-left">
                                    <h3 style="color:green;" id="success-message"><strong>Successfully registered. Kindly verify your email.</strong></h3>
                                </div>
                            </div>
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Register now</h3>
                                    <p>Fill in the form below. All fields are required.</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-pencil"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                {{#if noAccessCode}}
                                    <form role="form" id="access-code" class="access-code-form" action="/access-code" method="post">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label class="access-code_label" for="access-code">Access Code</label>
                                                    <input type="text" name="accessCode" placeholder="Enter access code" class="access-code form-control" id="access-code" required>
                                                    {{#if invalid}}
                                                        <span class="error-message error-code">{{message}}</span>
                                                    {{/if}}
                                                    {{#if used}}
                                                        <span class="error-message error-code">{{message}}</span>
                                                    {{/if}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label></label>
                                                    <button id="btn-code" type="submit" class="btn">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                {{else}}
                                    <form role="form" id="register" class="registration-form" action="/register" method="post">
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <hr/>
                                            </div>
                                            <div class="col-sm-2">
                                                <p class="divider">Personal Information</p>
                                            </div>
                                            <div class="col-sm-5">
                                                <hr/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label class="text-label" for="code">Access Code: {{accessCode}}</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label class="text-label" for="title">Title</label>
                                                    <select name="title" class="title form-control" id="title" required>
                                                        <option>Mr.</option>
                                                        <option>Ms.</option>
                                                        <option>Mrs.</option>
                                                        <option>Engr.</option>
                                                        <option>Atty.</option>
                                                        <option>Dr.</option>
                                                        <option>Prof.</option>
                                                        <option>Others</option>
                                                    </select>
                                                    <span class="error-message error-title" style="display:none;"></span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="text-label" for="gender">Sex</label>
                                                    <select name="gender" class="gender form-control" id="gender" required>
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                    </select>
                                                    <span class="error-message error-gender" style="display:none;"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label class="text-label" for="firstName">First name</label>
                                                    <input type="text" name="firstName" placeholder="First name" class="firstName form-control" id="firstName" required>
                                                    <span class="error-message error-first-name" style="display:none;"></span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="text-label" for="middleName">Middle Name</label>
                                                    <input type="text" name="middleName" placeholder="Middle name" class="middleName form-control" id="middleName" required>
                                                    <span class="error-message error-middle-name" style="display:none;"></span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="text-label" for="lastName">Last Name</label>
                                                    <input type="text" name="lastName" placeholder="Last name" class="lastName form-control" id="lastName" required>
                                                    <span class="error-message error-last-name" style="display:none;"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label class="text-label" for="nickname">Nickname</label>
                                                    <input type="text" name="nickname" placeholder="Nickname" class="nickname form-control" id="nickname" required>
                                                    <span class="error-message error-nickname" style="display:none;"></span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="text-label" for="position">Position</label>
                                                    <input type="text" name="position" placeholder="Position" class="position form-control" id="position" required>
                                                    <span class="error-message error-position" style="display:none;"></span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="text-label" for="organization">Organization</label>
                                                    <input type="text" name="organization" placeholder="Organization" class="organization form-control" id="organization" required>
                                                    <span class="error-message error-organization" style="display:none;"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <hr/>
                                            </div>
                                            <div class="col-sm-2">
                                                <p class="divider">Address Information</p>
                                            </div>
                                            <div class="col-sm-5">
                                                <hr/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label class="text-label" for="country">Country</label>
                                                    <select class="country form-control crs-country" data-region-id="province" id="country" name="country" required></select>
                                                    <span class="error-message error-country" style="display:none;"></span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="text-label" for="province">Province</label>
                                                    <select class="form-control" id="province" name="province" required></select>
                                                    <span class="error-message error-province" style="display:none;"></span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="text-label" for="city">City</label>
                                                    <input type="text" name="city" placeholder="City" class="city form-control" id="city" required>
                                                    <span class="error-message error-city" style="display:none;"></span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="text-label" for="barangay">Barangay</label>
                                                    <input type="text" name="barangay" placeholder="Barangay" class="barangay form-control" id="barangay" required>
                                                    <span class="error-message error-barangay" style="display:none;"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <label class="text-label" for="street">Street Address</label>
                                                    <input type="text" name="street" placeholder="Street Address" class="street form-control" id="street" required>
                                                    <span class="error-message error-street" style="display:none;"></span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="text-label" for="postalCode">Postal Code</label>
                                                    <input type="text" name="postalCode" placeholder="Postal Code" class="postalCode form-control" id="postalCode" required>
                                                    <span class="error-message error-postal-code" style="display:none;"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <hr/>
                                            </div>
                                            <div class="col-sm-2">
                                                <p class="divider">Contact Information</p>
                                            </div>
                                            <div class="col-sm-5">
                                                <hr/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label class="text-label" for="mobile">Mobile Number</label>
                                                    <input type="text" name="mobile" placeholder="eg. +639491234567" class="mobile form-control" id="mobile" required>
                                                    <span class="error-message error-mobile" style="display:none;"></span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="col-sm-5">
                                                        <label class="text-label" for="areaCode">Area Code</label>
                                                        <input type="text" name="areaCode" placeholder="" class="areaCode form-control" id="areaCode" required>
                                                        <span class="error-message error-area-code" style="display:none;"></span>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <label class="text-label" for="telephone">Telephone</label>
                                                        <input type="text" name="telephone" placeholder="" class="telephone form-control" id="telephone" required>
                                                        <span class="error-message error-telephone" style="display:none;"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="text-label" for="emailAddress">Email Address</label>
                                                    <input type="email" name="emailAddress" placeholder="Email Address" class="emailAddress form-control" id="emailAddress" required>
                                                    <span class="error-message error-email-address" style="display:none;"></span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="text-label" for="alternateEmailAddress">Alternate Email Address</label>
                                                    <input type="email" name="alternateEmailAddress" placeholder="Alternate Email Address" class="alternateEmailAddress form-control" id="alternateEmailAddress" required>
                                                    <span class="error-message error-alternate-email-address" style="display:none;"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <hr/>
                                            </div>
                                            <div class="col-sm-2">
                                                <p class="divider">Other Information</p>
                                            </div>
                                            <div class="col-sm-5">
                                                <hr/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label class="text-label" for="topic">Topic</label>
                                                    <select class="topic form-control" id="topic" name="topic">
                                                        <option>Public Land Management</option>
                                                        <option>Land Ownership / Land Tenure</option>
                                                        <option>Socio Economic Agenda</option>
                                                        <option>Innovation on Land Goverance</option>
                                                        <option>Land Information Management and Security</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <button id="btn-register" type="submit" class="btn">Sign me up!</button>
                                    </form>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
    {{>footer}}
    <!-- Javascript -->
    {{>scripts}}
    <script src="/js/country-province-selector.js"></script>
    <script src="/firebase/index.js"></script>
    <script src="/js/register.js"></script>
</body>

</html>
